<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dy.shoppingSite.dao.AddressDao">

	<insert id="addAddress" parameterType="Address">
		insert into shop_address
		values (#{id}, #{userid}, #{accepter}, #{zip,jdbcType = VARCHAR},
		#{phoneNum,jdbcType = VARCHAR}, #{mobile,jdbcType = VARCHAR},
		#{province}, #{city}, #{area}, #{address},
		#{isDefault})
	</insert>

	<!-- While this approach is simple, it will not perform well for large data 
		sets or lists. This problem is known as the "N+1 Selects Problem". In a nutshell, 
		the N+1 selects problem is caused. We can Nest Results for Association -->
	<select id="getAddress" parameterType="string" resultType="Address">
		select * from shop_address where userid = #{0}
	</select>

	<!-- 把默认的地址设置为非默认， 传入的是地址id-->
	<update id="setDefualt" parameterType="string">
		update shop_address set isDefault = '1' where id = #{0}
	</update>

	<!-- 设置为非默认的前提是，本身是默认，然后是该用户的地址 -->
	<update id="setNotDefault" parameterType="string">
		update shop_address set isDefault = '2' where userid = #{0} 
		and isDefault ='1'
	</update>



</mapper>