<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<!-- should be entity.User??? -->
<mapper namespace="com.dy.shoppingSite.dao.UserDao">
	<!-- resultMap type="com.dy.shoppingSite.entity.User"前面设置了typeAliases省略 -->
	<resultMap type="User" id="UserResult">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="phoneNum" property="phoneNum" />
		<result column="money" property="money" />
		<result column="avatar" property="avatar" />
		<result column="regTime" property="regTime" />
		<result column="role" property="role" />
	</resultMap>

	<insert id="addUser" parameterType="User">
		insert into shop_user
		values(#{id}, #{name}, #{password}, #{phoneNum},
		#{money},
		#{avatar,jdbcType = VARCHAR}, #{regTime}, #{role} )
	</insert>

	<select id="getNumByName" parameterType="string" resultType="int">
		select count(*) from shop_user where name = #{name}
	</select>

	<select id="getUserByNameAndPwd" resultType="User">
		select * from shop_user where name = #{0} and password = #{1}
	</select>

</mapper>