<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">


	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="com.mysql.jdbc.Driver" /> <property 
		name="url" value="jdbc:mysql://localhost:3306/shoppingsite" /> <property 
		name="username" value="root" /> <property name="password" value="mysql" /> 
		</bean> -->


	<!-- 添加事务的dataSource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/shoppingsite"></property>
		<property name="user" value="root"></property>
		<property name="password" value="mysql"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- REQUIRED表示不是事务就建立事务 -->
			<tx:method name="*" propagation="REQUIRED" />
			<!--SUPPORTS不是事务就不建立 -->
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
	<!-- 包名一定要写清楚，对应好 com.dy.shoppingSite.*.*(..)这个就不能对应，因为shoppingSite.*是包，也就没有方法-->
		<aop:pointcut id="pointcut" expression="execution(* com.dy.shoppingSite.service.impl.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut" />
	</aop:config>


	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- configLocation mapperLocations -->
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>

	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.dy.shoppingSite.dao.UserDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="userService" class="com.dy.shoppingSite.service.impl.UserServiceImpl">
		<property name="userDao" ref="userMapper"></property>
	</bean>

	<bean id="userAction" class="com.dy.shoppngSite.web.UserAction"
		scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>




	<bean id="addressMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.dy.shoppingSite.dao.AddressDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="addressService" class="com.dy.shoppingSite.service.impl.AddressServiceImpl">
		<property name="addressDao" ref="addressMapper"></property>
	</bean>
	<bean id="addressAction" class="com.dy.shoppngSite.web.AddressAction"
		scope="prototype">
		<property name="addressService" ref="addressService"></property>
	</bean>


	<bean id="randomAction" class="com.dy.shoppngSite.web.RandomAction"
		scope="prototype"></bean>



	<bean id="categoryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.dy.shoppingSite.dao.CategoryDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="categoryService" class="com.dy.shoppingSite.service.impl.CategoryServiceImpl">
		<property name="categoryDao" ref="categoryMapper"></property>
	</bean>

	<bean id="categoryAction" class="com.dy.shoppngSite.web.CategoryAction"
		scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
	</bean>


	<bean id="goodsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.dy.shoppingSite.dao.GoodsDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="goodsService" class="com.dy.shoppingSite.service.impl.GoodsServiceImpl">
		<property name="categoryService" ref="categoryService"></property>
		<property name="goodsDao" ref="goodsMapper"></property>
		<property name="categoryDao" ref="categoryMapper"></property>
	</bean>

	<bean id="goodsAction" class="com.dy.shoppngSite.web.GoodsAction"
		scope="prototype">
		<property name="goodsService" ref="goodsService"></property>
	</bean>
</beans>
