<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/shoppingsite" />
		<property name="username" value="root" />
		<property name="password" value="mysql" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- configLocation mapperLocations -->
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>

	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.dy.shoppingSite.dao.UserDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="userService" class="com.dy.shoppingSite.service.impl.UserServiceImpl">
		<property name="userDao" ref="userMapper"></property>
	</bean>

	<bean id="userAction" class="com.dy.shoppngSite.web.UserAction"
		scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	



	<bean id="addressMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.dy.shoppingSite.dao.AddressDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="addressService" class="com.dy.shoppingSite.service.impl.AddressServiceImpl">
		<property name="addressDao" ref="addressMapper"></property>
	</bean>
	<bean id="addressAction" class="com.dy.shoppngSite.web.AddressAction"
		scope="prototype">
		<property name="addressService" ref="addressService"></property>
	</bean>


	<bean id="randomAction" class="com.dy.shoppngSite.web.RandomAction" scope="prototype"></bean>

</beans>
